.icon-like {
    height: 15px;
    width: 17px;
}

.icon-share {
    height: 15px;
    width: 14px;
}

.icon-add {
    height: 17px;
    width: 17px;
}

.icon-play {
    height: 18px;
    width: 21px;
}

.icon-next-video {
    height: 14px;
    width: 12px
}

.icon-volume {
    height: 16px;
    width: 19px;
}

.icon-fullscreen {
    width: 18px;
    height: 18px;
}

.icon-nav-left {
    background-image: url("../img/layer_controls.png");
    background-position: 0 -23px;
    background-repeat: no-repeat;
    height: 30px;
    width: 20px;
}

.icon-nav-right {
    background-image: url("../img/layer_controls.png");
    background-position: 0 -55px;
    background-repeat: no-repeat;
    height: 30px;
    width: 20px;
}

.icon-close {
    background-image: url("../img/video_icon.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.icon-minimize {
    background-image: url("../img/video_icon.png");
    background-repeat: no-repeat;
    background-position: 0px -24px;
    height: 5px;
    width: 20px;
}

.icon-minimize {
    background-image: url("../img/video_icon.png");
    background-repeat: no-repeat;
    background-position: 0px -24px;
    height: 5px;
    width: 20px;
}

.icon-sidevideo {
    background-image: url("../img/video_icon.png");
    background-repeat: no-repeat;
    background-position: 0 -52px;
    height: 19px;
    width: 20px;
}