.icon-like {
    height: 15px;
    width: 17px;
}

.icon-share {
    height: 15px;
    width: 14px;
}

.icon-add {
    height: 17px;
    width: 17px;
}

.icon-play {
    height: 18px;
    width: 21px;
}

.icon-next-video {
    height: 14px;
    width: 12px
}