.v-controls {
    transition: $trans;
    transform: translateY(100%);
    font-size: 0;
    text-align: justify;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 46px;
    z-index: 3;
    width: 100%;

    &:after {
        content: "";
        display: inline-block;
        text-align: justify;
        visibility: hidden;
        height: 0;
        width: 100%;
    }

    &__btn {
        transition: $trans;
        display: inline-block;
        cursor: pointer;
        height: 100%;

        &_play {
            padding: 0 10px 0 18px;

            @include media(w1024) {
                padding: 0 10px;
            }
        }

        &_next-video {
            padding: 0 18px 0 8px;

            @include media(w1024) {
                display: none;
            }
        }

        &_volume {
            padding: 0 10px;
        }

        &_fullscreen {
            padding: 0 10px;
        }

        &:hover {
            transition: 0.2s ease;
            opacity: 0.7;
        }

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
    }

    &__btn-icon {
        display: inline-block;
        vertical-align: middle;
    }

    &__progress-wrap {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: $v-controls-progress-width;

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }

        @include media(w1100) {
            width: 36%;
        }
    }

    &__progress-slider {
        vertical-align: middle;
    }

    &__time-wrap {
        display: inline-block;
        vertical-align: middle;
        color: white;
        font-size: 13px;
        padding: 0 5px 0 15px;
        height: 100%;

        @include media(w1024) {
            padding: 0  0 0 10px;
        }

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
    }

    &__time {
        display: inline-block;
        vertical-align: middle;

        &_duration {
            opacity: 0.7;

            &:before {
                content: "/";
            }
        }
    }

    &__volume {
        display: inline-block;
        vertical-align: middle;
        padding-right: 8px;
        height: 100%;

        @include media(w768) {
            padding-right: 0;
        }
    }

    &__volume-wrap {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: $v-controls-volume-width;

        @include media(w768) {
            display: none;
        }

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
    }

    &__volume-slider {
        vertical-align: middle;
    }

    &__quality {
        transition: $trans;
        cursor: pointer;
        color: white;
        font-size: 13px;
        display: inline-block;
        vertical-align: middle;
        padding: 0 8px;
        position: relative;
        height: 100%;

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }

        &:hover {

            .v-controls__quality-list {
                opacity: 1;
                visibility: visible;
            }
        }

        @include media(w768) {
            display: none;
        }
    }

    &__quality-value {
        display: inline-block;
        font-weight: bold;
        vertical-align: middle;
        position: relative;
        z-index: 2;

        &:after {
            content: "";
            display: inline-block;
            border-style: solid;
            border-width: 4px 3px 0 3px;
            border-color: #ffffff transparent transparent transparent;
            vertical-align: middle;
            margin: 1px 0 0 4px;
            height: 0;
            width: 0;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__quality-list {
        transition: $trans;
        background-color: rgba(0,0,0,0.75);
        border-radius: 3px;
        color: rgba(255,255,255,0.7);
        opacity: 0;
        visibility: hidden;
        padding-bottom: 27px;
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 100%;
        z-index: 1;
    }

    &__quality-list-item {
        transition: $trans;
        text-align: right;
        padding: 4px 14px 4px 0;

        &:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }
    }
}