.v-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 46px;

    &__actions {
        font-size: 0;
        height: 100%;
    }

    &__btn {
        display: inline-block;
        cursor: pointer;
        height: 100%;

        &_play {
            padding: 0 10px 0 18px;
        }

        &_next-video {
            padding: 0 18px 0 8px;
        }

        &:hover {
            transition: 0.2s ease;
            opacity: 0.7;
        }

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
    }

    &__btn-icon {
        display: inline-block;
        vertical-align: middle;
    }

    &__progress-wrap {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: $v-controls-progress-width;

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
    }

    &__progress-slider {
        vertical-align: middle;
    }

    &__time-wrap {
        display: inline-block;
        vertical-align: middle;
        color: white;
        font-size: 13px;
        padding: 0 15px;
        height: 100%;

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
    }

    &__time {
        display: inline-block;
        vertical-align: middle;

        &_duration {
            opacity: 0.7;

            &:before {
                content: "/";
            }
        }
    }
}