.v-nav {
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 100%;
    width: $v-nav-width;
    z-index: $v-nav-z-index;

    @include media(w768) {
        display: none;
    }

    &:hover {

        .v-nav__icon {
            opacity: 1;
        }
    }

    &_left {
        right: 100%;
    }

    &_right {
        left: 100%;
    }

    &__icon {
        transition: $trans;
        transform: translate(-50%, -50%);
        opacity: 0.3;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}