.v-related {
    font-size: 12px;
    overflow: hidden;
    padding-top: $v-related-head-height;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $v-related-width;

    @include media(w1024) {
        width: $v-related-width-tablet;
    }

    @include media(w500) {
        display: none;
    }

    &:hover {

        .v-related__head-controls {
            display: block;
        }
    }

    &__head {
        color: white;
        padding: 0 12px;
        position: absolute;
        top: 0;
        left: 0;
        height: $v-related-head-height;
        width: 100%;
    }

    &__head-title {
        font-weight: bold;
        line-height: $v-related-head-height;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__head-controls {
        display: none;
        position: absolute;
        top: 0;
        right: 14px;
        height: 100%;

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
    }

    &__head-controls-icon {
        cursor: pointer;
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;

        &_autoplay {
            background-image: url(../img/video_icon.png);
            background-position: 0 -77px;
            height: 11px;
            width: 18px;
        }

        &_order {
            background-image: url(../img/video_icon.png);
            background-position: 0 -98px;
            height: 11px;
            width: 15px;
        }
    }

    &__list {
        overflow: auto;
        height: 100%;
    }

    &__list-item {
        display: block;
        overflow: hidden;
        padding: 6px 5px 6px 10px;
        text-decoration: none;

        @include media(w1024) {
            padding: 6px 10px;
        }

        &:hover {
            background-color: $v-related__list-item-hover;
            text-decoration: none;
        }

        &_active {
            background-color: $v-related__list-item-active;

            &:hover {
                background-color: $v-related__list-item-active;
            }
        }
    }

    &__list-img {
        background-image: url("../img/video-img.jpg");
        background-color: cadetblue;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 2px;
        float: left;
        position: relative;
        height: 55px;
        width: $v-related__list-img-width;
    }

    &__list-img-duration {
        background-color: black;
        background-color: rgba(0,0,0,0.6);
        border-radius: 2px 0 0 0;
        color: white;
        padding: 2px 4px 1px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__list-info {
        color: white;
        padding-left: $v-related__list-img-width + 10px;

        @include media(w1024) {
            display: none;
        }
    }

    &__list-name {
        opacity: 0.7;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__list-views {
        opacity: 0.35;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}