.v-share {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;

    &__btn {
        background-color: rgba(0,0,0,0.6);
        border-radius: 3px;
        cursor: pointer;
        position: relative;
        line-height: 37px;
        font-size: 0;
        text-align: center;
        width: 37px;
        height: 37px;

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }

        &:hover {
            background-color: rgba(34,34,34,0.6);

            .v-share__btn-icon {
                opacity: 1;
            }
        }
    }

    &__btn-icon {
        display: inline-block;
        vertical-align: middle;
        opacity: 0.7;
    }
}