.site-bg {
    background-image: url("../img/main-bg.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}