.video-bg {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.video-wrap {
    margin: 0 auto;
    width: 960px;
}

.video-container {
    height: 360px;
    width: 960px;
}