.v-bg {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.v-wrap {
    margin: 0 auto;
    width: 960px;
}

.v-container {
    background-color: green;
    overflow: hidden;
    position: relative;
    height: 405px;
    width: calc(100% - #{$v-related-width});

    &:hover {
        
        .v-share {
            transform: translateY(0);
        }

        .v-controls {
            transform: translateY(0);
        }
    }
}

.v-top {
    background-color: $v-related-bg;
    position: relative;
}

.video {
    //width: calc(100% - #{$v-related-width});
}

.v-bottom {
    background-color: white;
}

.v__comments {
    height: 280px;
}