.v-bg {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.v-wrap {
    margin: 0 auto;
    width: 960px;
}

.v-container {
    height: 405px;
    width: 100%;
}

.video {
    width: calc(100% - #{$video-right-panel-width});
}

.v-right-panel {
    width: $video-right-panel-width;
}

.v__comments {
    height: 280px;
}