$trans: all 0.3s ease;

$v-related-bg: #1e1e1e;
$v-related-width: 240px;
$v-related-head-height: 30px;

$v-related__list-item-hover: #272727;
$v-related__list-item-active: #2e2e2e;
$v-related__list-img-width: 100px;

$v-controls-progress-width: 348px;
$v-controls-volume-width: 50px;

$v-nav-width: 64px;
$v-nav-z-index: 3;

$v-actions-width: $v-nav-width;
$v-actions-z-index: $v-nav-z-index + 1;

$v-info-views-width: 170px;