extends templates/layout

block vars
    - var title = 'Main'

block content
    div.site-bg
    div.v-bg
        div.v-wrap
            div.v-top
                div.v-container
                    div.v-share
                        div.v-share__btn
                            svg.icon-like.v-share__btn-icon
                                use(xlink:href="#icon-like")
                        div.v-share__btn
                            svg.icon-share.v-share__btn-icon
                                use(xlink:href="#icon-share")
                        div.v-share__btn
                            svg.icon-add.v-share__btn-icon
                                use(xlink:href="#icon-add")
                    div.video
                    div.v-controls
                        div.v-controls__actions
                            div.v-controls__btn.v-controls__btn_play
                                svg.icon-play.v-controls__btn-icon
                                    use(xlink:href="#icon-play")
                            div.v-controls__btn.v-controls__btn_next-video
                                svg.icon-next-video.v-controls__btn-icon
                                    use(xlink:href="#icon-next-video")
                            div.v-controls__progress-wrap
                                div.v-controls__progress
                                    div.v-controls__progress-line
                                        div.v-controls__progress-slider
                div.v-related
                    div.v-related__head
                        div.v-related__head-title.
                            Title
                        div.v-related__head-controls
                            div.v-related__head-controls-icon.v-related__head-controls-icon_autoplay
                            div.v-related__head-controls-icon.v-related__head-controls-icon_order
                    div.v-related__list
                        a(href="").v-related__list-item
                            div.v-related__list-img
                                div.v-related__list-img-duration
                                    span.v-related__list-img-time.v-related__list-img-time_hours.
                                        01:
                                    span.v-related__list-img-time.v-related__list-img-time_minutes.
                                        23:
                                    span.v-related__list-img-time.v-related__list-img-time_seconds.
                                        45
                            div.v-related__list-info
                                div.v-related__list-name.
                                    Very very very very long video name
                                div.v-related__list-views
                                    span.v-related__list-views-number.
                                        1000 000 000 
                                    |просмотров
                        a(href="").v-related__list-item.v-related__list-item_active
                            div.v-related__list-img
                                div.v-related__list-img-duration
                                    span.v-related__list-img-time.v-related__list-img-time_hours.
                                        01:
                                    span.v-related__list-img-time.v-related__list-img-time_minutes.
                                        23:
                                    span.v-related__list-img-time.v-related__list-img-time_seconds.
                                        45
                            div.v-related__list-info
                                div.v-related__list-name.
                                    Video name
                                div.v-related__list-views
                                    span.v-related__list-views-number.
                                        1 000 000 
                                    |просмотров
                        a(href="").v-related__list-item
                            div.v-related__list-img
                                div.v-related__list-img-duration
                                    span.v-related__list-img-time.v-related__list-img-time_hours.
                                        01:
                                    span.v-related__list-img-time.v-related__list-img-time_minutes.
                                        23:
                                    span.v-related__list-img-time.v-related__list-img-time_seconds.
                                        45
                            div.v-related__list-info
                                div.v-related__list-name.
                                    Video name
                                div.v-related__list-views
                                    span.v-related__list-views-number.
                                        1 000 000 
                                    |просмотров
                        a(href="").v-related__list-item
                            div.v-related__list-img
                                div.v-related__list-img-duration
                                    span.v-related__list-img-time.v-related__list-img-time_hours.
                                        01:
                                    span.v-related__list-img-time.v-related__list-img-time_minutes.
                                        23:
                                    span.v-related__list-img-time.v-related__list-img-time_seconds.
                                        45
                            div.v-related__list-info
                                div.v-related__list-name.
                                    Video name
                                div.v-related__list-views
                                    span.v-related__list-views-number.
                                        1 000 000 
                                    |просмотров
                        a(href="").v-related__list-item
                            div.v-related__list-img
                                div.v-related__list-img-duration
                                    span.v-related__list-img-time.v-related__list-img-time_hours.
                                        01:
                                    span.v-related__list-img-time.v-related__list-img-time_minutes.
                                        23:
                                    span.v-related__list-img-time.v-related__list-img-time_seconds.
                                        45
                            div.v-related__list-info
                                div.v-related__list-name.
                                    Video name
                                div.v-related__list-views
                                    span.v-related__list-views-number.
                                        1 000 000 
                                    |просмотров
                        a(href="").v-related__list-item
                            div.v-related__list-img
                                div.v-related__list-img-duration
                                    span.v-related__list-img-time.v-related__list-img-time_hours.
                                        01:
                                    span.v-related__list-img-time.v-related__list-img-time_minutes.
                                        23:
                                    span.v-related__list-img-time.v-related__list-img-time_seconds.
                                        45
                            div.v-related__list-info
                                div.v-related__list-name.
                                    Video name
                                div.v-related__list-views
                                    span.v-related__list-views-number.
                                        1 000 000 
                                    |просмотров
                        a(href="").v-related__list-item
                            div.v-related__list-img
                                div.v-related__list-img-duration
                                    span.v-related__list-img-time.v-related__list-img-time_hours.
                                        01:
                                    span.v-related__list-img-time.v-related__list-img-time_minutes.
                                        23:
                                    span.v-related__list-img-time.v-related__list-img-time_seconds.
                                        45
                            div.v-related__list-info
                                div.v-related__list-name.
                                    Video name
                                div.v-related__list-views
                                    span.v-related__list-views-number.
                                        1 000 000 
                                    |просмотров
                        a(href="").v-related__list-item
                            div.v-related__list-img
                                div.v-related__list-img-duration
                                    span.v-related__list-img-time.v-related__list-img-time_hours.
                                        01:
                                    span.v-related__list-img-time.v-related__list-img-time_minutes.
                                        23:
                                    span.v-related__list-img-time.v-related__list-img-time_seconds.
                                        45
                            div.v-related__list-info
                                div.v-related__list-name.
                                    Video name
                                div.v-related__list-views
                                    span.v-related__list-views-number.
                                        1 000 000 
                                    |просмотров
            div.v-bottom
                div.v-info
                    div.v__info-head
                    div.v__info-share
                    div.v__info-group
                    div.v__info-comments
                div.v__other-video








