extends templates/layout

block vars
    - var title = 'Main'

block content
    div.site-bg
    div.v-bg
        div.v-wrap
            div.v-top
                div.v-container
                    div.v__share
                    div.video
                    div.v__control
                div.v-related
                    div.v-related__head
                    div.v-related__list
                        div.v-related__list-item
                            div.v-related__list-img
                            div.v-related__list-info
            div.v-bottom
                div.v-info
                    div.v__info-head
                    div.v__info-share
                    div.v__info-group
                    div.v__info-comments
                div.v__other-video








