extends templates/layout

block vars
    - var title = 'Main'

block content
    div.site-bg
    div.v-bg
        div.v-wrap
            div.v-top
                include components/v-nav
                include components/v-actions
                div.v-container
                    include components/v-share
                    include components/v-video
                    include components/v-controls
                include components/v-related
            div.v-bottom
                div.v-info-wrap
                    include components/v-info
                    div.v__info-share
                        button.btn.btn_fill.btn-like
                            div.btn__item.btn__item_icon.btn__icon-like.icon-like
                            div.btn__item.btn__item_text.
                                Мне нравится
                            div.btn__item.btn-like__count.
                                0
                    div.v__info-group
                    div.v__info-comments
                include components/v-related








