extends templates/layout

block vars
    - var title = 'Main'

block content
    div.site-bg
    div.v-bg
        div.v-wrap
            div.v-top
                include components/v-nav
                include components/v-actions
                div.v-container
                    include components/v-loader
                    include components/v-share
                    include components/v-video
                    include components/v-controls
                include components/v-related
            div.v-bottom
                div.v-info-container
                    include components/v-head
                    include components/v-all-actions
                    include components/v-group
                    include components/v-comments
                include components/v-related








