extends templates/layout

block vars
    - var title = 'Main'

block content
    div.site-bg
    div.v-bg
        div.v-wrap
            div.v-top
                include components/v-nav
                include components/v-actions
                div.v-container
                    include components/v-share
                    include components/v-video
                    include components/v-controls
                include components/v-related
            div.v-bottom
                div.v-info-wrap
                    include components/v-info
                    div.v__info-share
                    div.v__info-group
                    div.v__info-comments
                include components/v-related








