div.v-actions
    div.v-actions__btn
        div.icon-close.v-actions__btn-icon
    div.v-actions__btn.v-actions__btn_minimize
        div.icon-minimize.v-actions__btn-icon
    div.v-actions__btn
        div.icon-sidevideo.v-actions__btn-icon