div.v-all-actions
	button.btn.btn_fill.btn-like.v-all-actions__btn
		div.btn__item.btn__item_icon.btn__icon-like.icon-like-s
		div.btn__item.btn__item_text.
			Мне нравится
		div.btn__item.btn-like__count.
			0
	button.btn.v-all-actions__btn
		div.btn__item.btn__item_icon.icon-share-s.btn__icon-share-s
		div.btn__item.btn__item_text.
			Поделиться
	button.btn.v-all-actions__btn
		div.btn__item.btn__item_icon.icon-add-s.btn__icon-add-s
		div.btn__item.btn__item_text.
			Добавить к себе
	button.btn.btn_arrow.btn_arrow-down.btn_popup.v-all-actions__btn
		div.btn__item.btn__item_text.
			Ещё
		div.btn__popup
			div.btn__popup-head
			div.btn__popup-list
				div.btn__popup-list-item.
					Экспортировать
				div.btn__popup-list-item.
					Пожаловаться