div.v-comments
	div.v-comments__container
		a(href="").v-comments__img-link
			img(src="img/user-img.jpg", alt="").v-comments__img
		form.v-comments__form
			input(type="text" placeholder="Написать комментарий...").v-comments__input