div.v-controls
    div.v-controls__btn.v-controls__btn_play
        svg.icon-play.v-controls__btn-icon
            use(xlink:href="#icon-play")
    div.v-controls__btn.v-controls__btn_next-video
        svg.icon-next-video.v-controls__btn-icon
            use(xlink:href="#icon-next-video")
    div.v-controls__progress-wrap.v-slider-wrap
        div.v-slider.v-controls__progress-slider
            div.v-slider__progress
                div.v-slider__circle
    div.v-controls__time-wrap
        div.v-controls__time.v-controls__time_current.
            0:00
        div.v-controls__time.v-controls__time_duration.
            1:01
    div.v-controls__volume
        div.v-controls__btn.v-controls__btn_volume
            svg.icon-volume.v-controls__btn-icon
                use(xlink:href="#icon-volume")
        div.v-controls__volume-wrap.v-slider-wrap
            div.v-slider.v-controls__volume-slider
                div.v-slider__progress
                    div.v-slider__circle
    div.v-controls__btn.v-controls__btn_fullscreen
        svg.icon-play.v-controls__btn-icon
            use(xlink:href="#icon-fullscreen")
    div.v-controls__quality
        div.v-controls__quality-value.
            Авто
        div.v-controls__quality-list
            div.v-controls__quality-list-item.
                Авто
            div.v-controls__quality-list-item.
                1080
            div.v-controls__quality-list-item.
                720
            div.v-controls__quality-list-item.
                480
            div.v-controls__quality-list-item.
                360
            div.v-controls__quality-list-item.
                240