div.v-group
	div.v-group__head
		div.v-group__info
			a(href="").v-group__info-img-link
				img(src="img/group-img.jpg", alt="").v-group__info-img
			div.v-group__info-container
				a(href="").v-group__info-name.
					Group name
				div.v-group__info-date.
					сегодня в 20:00
		button.btn.btn_fill.v-group__subscribe-btn
			div.btn__item.btn__item_icon.icon-add-light-s.btn__icon-add-s
			div.btn__item.btn__item_text.
				Подписаться
	div.v-group__text.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae placerat metus. In hac habitasse platea dictumst. Mauris porta gravida lectus, vitae semper enim rhoncus vestibulum. Integer ac suscipit lorem, vitae luctus arcu. Ut quis dictum metus.
		<br>
		<br>
		Aenean sed quam quis libero congue luctus non id lectus. Nam tristique, arcu sed dignissim consequat, elit lectus iaculis orci, ut laoreet nisl velit ut est. Suspendisse ut venenatis diam, ut ornare augue. Vestibulum iaculis tortor at dictum posuere. Morbi vel aliquet purus. Etiam mattis diam ut purus eleifend, quis facilisis neque iaculis.
		Aenean sed quam quis libero congue luctus non id lectus. Nam tristique, arcu sed dignissim consequat, elit lectus iaculis orci, ut laoreet nisl velit ut est. Suspendisse ut venenatis diam, ut ornare augue. Vestibulum iaculis tortor at dictum posuere. Morbi vel aliquet purus. Etiam mattis diam ut purus eleifend, quis facilisis neque iaculis.
		<a href="http://www.link.ru/">http://www.link.ru/</a>