div.v-share
    div.v-share__btn
        svg.icon-like.v-share__btn-icon
            use(xlink:href="#icon-like")
    div.v-share__btn
        svg.icon-share.v-share__btn-icon
            use(xlink:href="#icon-share")
    div.v-share__btn
        svg.icon-add.v-share__btn-icon
            use(xlink:href="#icon-add")