doctype html

- var title = 'Project title'

block vars
    
html
    head
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
        title #{title}
        link(href="img/favicon.ico" rel="shortcut icon" type="image/x-icon")
        link(rel="stylesheet", href="styles/vendor.css")
        link(rel="stylesheet", href="styles/main.css")
        block scripts
    body
        include svg
        include header
        block content
        include footer
        script(src="scripts/vendor.js")
        script(src="scripts/app.js")
